<!DOCTYPE html>
<html>

  <head>
    <title>HOME PAGE</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/stylesheets/style.css">
  </head>

  <body>
    <table>
      <tr>
        <td style= "width:30%;">
          <img class = "newappIcon" src="static/images/ibm.jpg">
        <td>
            <h1>Howdy!,Let's Begin Exploring the World of IBM Bluemix</h1>
            <a href="{{url_for('GetFeed')}}"><button>Click Here to Begin!</button></a>
    </table>

  </body>

</html>
